# Игнорируем виртуальное окружение и кэш Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Игнорируем Git и DVC (внутри образа они не нужны)
.git/
.dvc/

# Игнорируем логи и временные файлы
*.log
.DS_Store
.env

# Игнорируем IDE
.vscode/
.idea/
