# Web API
fastapi
uvicorn
python-multipart

# Data Science & Model
xgboost
pandas
numpy
scikit-learn

# MLOps & Tracking
mlflow-skinny
boto3
python-dotenv

# Utilities
httpx
pydantic
pydantic-settings