# Web API
fastapi
uvicorn
python-multipart

# Data Science & Model
xgboost
pandas
numpy
scikit-learn
optuna

# MLOps & Tracking
mlflow==2.11.3
protobuf<5
boto3
python-dotenv

# Utilities
httpx
pydantic
pydantic-settings

# Testing
pytest
pytest-asyncio  # пригодится, если начнешь использовать async в FastAPI
